@model FilmOnline.Web.ViewModels.CountryViewModel
@{
    ViewData["Title"] = "Редактирование стран";
}

<div class="main__addFilm">
    @foreach (var item in Model.CountryModelResponses)
    {
        <div class="item__view-block">
            <div class="item__view">@item.Country</div>
                <form asp-action="DeleteCountry" asp-route-id="@item.Id" method="post">
                    <input class="button__film-post" type="submit" value="Delete" />
                </form>
                <form asp-action="UpgradeCountry" asp-route-id="@item.Id" method="post">
                    <input type="text" asp-for="Country" class="mine__input" />
                    <input class="button__film-post" type="submit" value="Изменить" />
                </form>
         </div>
    }

    <div class="line"></div>

    <form asp-controller="Country" asp-action="AddCount" method="post">
        <div class="registration__block">
            <label asp-for="Country" class="mine__form">Добавить страну:</label>
            <input type="text" asp-for="Country" class="mine__input" />
        </div>
        <div class="registration__block">
            <input type="submit" value="Добавить" class="mine__button" />
        </div>
    </form>
</div>